@using TestNetMVC.Models
@using TestNetMVC.Services

@inject RequestService RequestService

@inject AccountService AccountService

@{

  var requests = Model.requests;
  var account = Model.account;
  var employeeSupport = Model.employeeSupport;
}

<div class="table-responsive  row">
  <table class="table table-hover table-bordered text-nowrap text-center ">
    <thead>
      <tr class="bg-info">
        <th>#</th>
        <th>Title</th>
        <th>Sent Date</th>
        <th>Priority</th>
        <th>Handle</th>
        <th>Description</th>
        <th>Submit</th>
      </tr>
    </thead>
    <tbody>
      @{
        int i = 1;
      }

      @foreach (var r in requests)
      {
        <tr>
          <td>@(i++)
          </td>
          <td>@r.Title</td>

          <td>@r.SentDate.ToString("dd-MM-yyyy")</td>
          <td>@r.Priority.PriorityName</td>
          <td><i><b>@(r.EmployeeIdHandlingNavigation != null ? r.EmployeeIdHandlingNavigation.Username : "none")</b></i>
          </td>
          <td class="text-break">@r.Description</td>
          <td>
            <select class="AjaxSelectSupport custom-select fs-2" data-requestId="@r.Id" style="width: fit-content;">
              <!option value="-1" selected>supporter</!option>
              @foreach (var a in employeeSupport)
              {

                <!option value="@a.Id">@a.Username</!option>
              }
            </select>

          </td>
        </tr>
      }



    </tbody>
  </table>

  <script>
    $(document).ready(function () {
      $('.AjaxSelectSupport').change(function () {

        var requestId = $(this).attr('data-requestId');
        console.log(">>request id = " + requestId);
        var ESuppId = $(this).val();
        $.ajax({
          type: 'GET',
          url: '/ajax/ChangeHandleRequest',
          data: { ESuppId, requestId },
          success: function (res) {
            console.log(res);
          }
        });
      });
    });


  </script>
</div>
