@using TestNetMVC.Services
@inject AccountService AccountService

@{

  var accounts = AccountService.FindAll();
  accounts.RemoveAll(x => x.Username == "admin");
  var i = 1;

}
<div class="card-header row justify-content-between">
  <!--ADD NEW EMPLOYEE-->
  <div class="col-6">
    <a asp-area="Admin" asp-controller="Admin" asp-action="Employees" class="btn btn-info">Update List</a>
  </div>
  <div class="col-6 row justify-content-end">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AddNewEmployee">
      Add New Employee
    </button>
    <partial name="~/Areas/Shared/Modals/_AddNewEmployeeModal.cshtml" />

  </div>
  <!--./// ADD NEW EMPLOYEE-->

</div>
<div class="card-body table-responsive p-0">


  <table class="table table-hover text-nowrap text-center" id="tableEmployee">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Fullname</th>
        <th>Date Of Birth</th>
        <th>Active</th>
        <th>Role</th>
        <th>Requests</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var a in accounts.OrderBy(a => a.Status))
      {

        <tr class="rowdata">
          <td>@(i++)</td>
          <td class="myUsername @(a.Status? "font-weight-bold":"")">@a.Username</td>
          <td>@a.Fullname</td>
          <td>@a.Dob.ToString("dd/MM/yyyy")</td>
          <td>
            <input type="checkbox" class="EmployeeActive" @(a.Status ? "checked" : "")
              data-employee-username="@a.Username">
          </td>
          <td>@a.Roles.First().RoleName</td>
          <td>
            <span class="employeeRequest" data-employee-username="@a.Username" data-toggle="modal"
              data-target="#EmployeeInfoModal" style="cursor: pointer;">
              <b> @a.RequestEmployeeIdSubmitNavigations.Count</b>
            </span>
          </td>
        </tr>

      }
    </tbody>
  </table>
</div>




<script>
  $(document).ready(function () {

    $('#tableEmployee .employeeRequest').click(function () {

      var employeeUsername = $(this).data('employee-username');
      $("#TitleModalUsername").html(employeeUsername);
      // Sử dụng Ajax để gửi employeeUsername 
      $.ajax({
        type: 'GET',
        url: '/ajax/ModalEmployeePartial',
        data: { username: employeeUsername },
        success: function (response) {
          $('#EmployeeInfoModal .modal-body').html(response);

        }
      });
    });
    $('#EmployeeInfoModal .close').click(function () {
      $('#EmployeeInfoModal .modal-body').empty();
    });
    // ========
    $('.EmployeeActive').change(function () {
      var isChecked = $(this).prop('checked');
      var username = $(this).data('employee-username');
      $.ajax({
        type: 'GET',
        url: '/ajax/ActiveAccount',
        data: { username, isChecked },
        success: function (res) {
          console.log(res);
        }
      });
    });
    // ========



  });

  function fillDataToTable(Employees) {
    var s = "";
    for (var i = 0; i < Employees.length; i++) {
      s += `<tr class="rowdata">
    <td>${(i + 1)}</td >
    <td class="${Employees[i].status ? " font-weight-bold" : ""}" >${Employees[i].username}</td >
    <td>${Employees[i].fullname}</td>
    <td>${Employees[i].dob}</td>
    <td>
    <input type="checkbox" class="EmployeeActive" ${Employees[i].status ? "checked" : ""} data-employee-username="${Employees[i].username}">
    </td>
    <td>${Employees[i].roleName}</td>
    <td>
    <span class="employeeRequest" data-employee-username="${Employees[i].username}" data-toggle="modal" data-target="#EmployeeInfoModal" style="cursor: pointer;">
    <b> ${Employees[i].requestCount}</b>
    </span>
    </td>
    </tr >`;
    }
    $("#tableEmployee tbody").html(s);
  }

</script>
<!-- Modal -->


<div class="modal fade" id="EmployeeInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLongTitle">
          request list of <b><i id="TitleModalUsername"></i></b> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ajax response -->
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" asp-area="Admin" asp-controller="Admin" asp-action="Employees">Save</a>

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
